<div class="Header">
    <h1>Strappy</h1>
</div>
<div class="MenuButton" onclick="toggleMenu()">
    [toggle menu]
</div>
<div class="Navigation">
    <ul>
        <li>Section One</li>
        <li>Section Two</li>
        <ul>
            <li>Subsection Alpha</li>
            <li>Subsection Bravo</li>
            <li>Subsection Charlie</li>
        </ul>
        <li>Section Three</li>
    </ul>
</div>
<div class="Content">
    {{#each paragraphs}}
        <p>{{this}}</p>
    {{/each}}
</div>
<div class="Footer">
    <table>
        <tbody>
            <tr>
                <td><a href="https://twitter.com" target="__blank">Twitter</a></td>
                <td><a href="https://www.linkedin.com" target="__blank">LinkedIn</a></td>
                <td>Copyright {{year}}, {{org}}</td>
            </tr>
        </tbody>
    </table>
</div>
