<style>
    .Alert {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        font-weight: bold;
        padding: 8px;
    }

    .AlertPRIMARY {
        border-top: 1px solid #004085;
        background-color: #cce5ff;
        color: #004085;
    }

    .AlertSECONDARY {
        border-top: 1px solid #383d41;
        background-color: #d6d8db;
        color: #383d41;
    }

    .AlertSUCCESS {
        border-top: 1px solid #155724;
        background-color: #c3e6cb;
        color: #155724;
    }

    .AlertDANGER {
        border-top: 1px solid #721c24;
        background-color: #f5c6cb;
        color: #721c24;
    }

    .AlertWARNING {
        border-top: 1px solid #856404;
        background-color: #ffeeba;
        color: #856404;
    }

    .AlertINFO {
        border-top: 1px solid #0c5460;
        background-color: #bee5eb;
        color: #0c5460;
    }

    .AlertLIGHT {
        border-top: 1px solid #818182;
        background-color: #fdfdfe;
        color: #818182;
    }

    .AlertDARK {
        border-top: 1px solid #1b1e21;
        background-color: #c6c8ca;
        color: #1b1e21;
    }
</style>
<div class="Alert Alert{{upper variant}}">{{content}}</div>
