<span class="Badge Badge{{upper variant}}">
    <style>
        .Badge {
            border-radius: 4px;
            font-size: 75%;
            color: #fff;
            border-width: 0px;
            padding: 2px 6px 2px 0;
            margin-left: 10px;
        }

        .BadgePRIMARY { background-color: #007bff; }
        .BadgePRIMARY:hover { background-color: #006bef; }

        .BadgeSECONDARY { background-color: #5a6268; }
        .BadgeSECONDARY:hover { background-color: #4a5258; }

        .BadgeSUCCESS { background-color: #218838; }
        .BadgeSUCCESS:hover { background-color: #117828; }
        
        .BadgeWARNING { background-color: #e0a800; color: #000; }
        .BadgeWARNING:hover { background-color: #d09800; }

        .BadgeDANGER { background-color: #c82333; }
        .BadgeDANGER:hover { background-color: #b81323; }

        .BadgeINFO { background-color: #17a2b8; }
        .BadgeINFO:hover { background-color: #0792a8; }

        .BadgeLIGHT { background-color: #e2e6ea; color: #000; }
        .BadgeLIGHT:hover { background-color: #d2d6da; }

        .BadgeDARK { background-color: #23272b; }
        .BadgeDARK:hover { background-color: #13171b; }
    </style>
    {{label}}
</span>
