<style>
    .Breadcrumbs {
    }

    .BreadcrumbsItem {
        text-decoration: none;
    }

    .BreadcrumbsItem:hover {
        text-decoration: underline;
    }

    .BreadcrumbsSeperator {
        color: #555;
    }
</style>
<div class="Breadcrumbs">
    {{#each labels}}
        <a class="BreadcrumbsItem">{{this}}</a>{{#unless @last}}<span class="BreadcrumbsSeperator"> / </span>{{/unless}}
    {{/each}}
</div>
