<style>
    .ButtonGroup {
        display: grid;
        width: min-content;
        box-shadow: 0px 0px 4px #000;
        border-radius: 8px;
    }

    .ButtonGroupFirst button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0px 0px 0px #000;
    }

    .ButtonGroupMiddle button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: 0px 0px 0px #000;
    }

    .ButtonGroupLast button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0px 0px 0px #000;
    }
</style>
<div class="ButtonGroup" style="grid-template-columns:repeat({{nButtons}}, auto);">
    {{#each buttons}}
        <div class="{{#if @first}}ButtonGroupFirst{{else if @last}}ButtonGroupLast{{else}}ButtonGroupMiddle{{/if}}"></div>
    {{/each}}
</div>
