<style>
    .Jumbotron {
        font-family: sans-serif;
    }

    .JumbotronTitle {
        font-size: 2.0em;
        padding: 32px 0 16px 16px;
        font-weight: bold;
        text-shadow: 0 0 4px #fff;
    }

    .JumbotronDesc {
        font-size: 0.8em;
        padding: 0px 0 16px 16px;
        text-shadow: 0 0 2px #fff;
    }

    .Jumbotron .Button {
        margin: 0px 0 16px 16px;
    }
</style>
<div class="Jumbotron" style="width:{{width}};background-image:url({{img}})">
    <div class="JumbotronTitle">{{title}}</div>
    <div class="JumbotronDesc">{{desc}}</div>
</div>
