<style>
    .Spinner {
        border-style: solid;
        border-color: #000;
        border-right: .25em solid transparent;
    }

    .SpinnerPRIMARY {
        border-color: #007bff;
        border-right-color: transparent;
    }

    .SpinnerSECONDARY {
        border-color: #5a6268;
        border-right-color: transparent;
    }

    .SpinnerSUCCESS {
        border-color: #218838;
        border-right-color: transparent;
    }

    .SpinnerWARNING {
        border-color: #e0a800;
        border-right-color: transparent;
    }

    .SpinnerDANGER {
        border-color: #c82333;
        border-right-color: transparent;
    }

    .SpinnerINFO {
        border-color: #17a2b8;
        border-right-color: transparent;
    }

    .SpinnerLIGHT {
        border-color: #e2e6ea;
        border-right-color: transparent;
    }

    .SpinnerDARK {
        border-color: #23272b;
        border-right-color: transparent;
    }
</style>
<div class="Spinner Spinner{{upper variant}}" style="border-radius:{{size}}px;height:{{size}}px;width:{{size}}px;">
</div>
