<style>
    .TableFactor tr:hover {
        background-color: #000;
        cursor: pointer;
    }

    .TableFactor {
        border-collapse: collapse;
    }

    .TableFactor td {
        padding: 3px;
    }
</style>
<table class="TableFactor">
    <tbody>
        {{#each this}}
            <tr>
                <td>{{@key}}</td>
                <td>{{this}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
