<style>
    .Tooltip {
        padding: 4px 8px;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        opacity: 0.8;
        font-family: sans-serif;
        font-size: 0.6em;
    }

    .TooltipLIGHT {
        border-color: #bbb;
        color: #bbb;
        background-color: #eee;
    }

    .TooltipDARK {
        border-color: #bbb;
        color: #bbb;
        background-color: #333;
    }
</style>
<div class="Tooltip Tooltip{{upper variant}}">{{content}}</div>
